.drawerWrap {
    background-color: #ccaa6b !important;
    width: 25vw !important;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    background-color: #ccaa6b !important;
    width: 25vw !important;
}

.playlistWrap {
    display: flex;
}

.playlistWrap div {
    margin: 0px 6px;
    color: #fff !important;
    font-weight: bold !important;
}

.playlistTextInner {
    color: #fff !important;
    margin: 10px 0px !important;
}

.playlistInnerWrap {
    /* background-color: green; */
    /* padding-left: 2vw; */
    padding: 0px 2vw !important;
}

.innerWrapInner {
    display: flex;
    /* border: 1px solid #382b11; */
    background-color: #382b11 !important;
    border-radius: 4px !important;
    width: 100% !important;
    flex-direction: row !important;
    margin: 5px 0px !important;
}
.innerWrapname {
    display: flex !important;
}

.playlistDrawerHeading {
    text-align: center !important;
    color: #382b11 !important;
    margin: 20px 0px !important;
}

@media (max-width: 991px) {
    .playlistText {
        display: none !important;
    }
}
