.playlistBoxes {
    flex: 0 0 auto;
    height: 120px;
    width: 100px;
    /* backgroundColor: #ccaa6b; */
    display: flex;
    cursor: pointer;
    
}

.playlistItemText {
    margin-top: 5px;
    white-space: normal;
    width: 95px;
    text-align: center;
    height:300px
}

.playlistItemImage {
    width: 70px;
    height: 70px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat; */
     /* border: 2px solid wheat; */
    /* border-radius: 5px ;  */

}

.playlistItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   

}

.playlistsMain {
    display: flex;
    margin: calc(1rem + 1vw) calc(3vw);
    justify-content: flex-start;
    /* gap: 10px; */
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

.playlistsList {
    display: flex;
    margin: calc(0) calc(3vw);
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}