:root {
    --base-color: #f9fafe;
    /* --bg-transparent: linear-gradient(180deg, #4a2d4d, #171a1a, #171a1a); */
    /* --bg-drawer: linear-gradient(180deg, #171a1a, #171a1a, #4a2d4d); */
    --bg-dark: #281e09;
    --bg-transparent: linear-gradient(#382b11, #382b11, #000);
    --bg-drawer: linear-gradient(180deg, #000, #382b11);
    --primary-color: #ffff;
    --secondary-color: #dddd;
    /* --button-color: #5e77fb; */
    --button-color: #876727f7;
}

@font-face {
    font-family: "script-mt";
    src: url("/fonts/SCRIPTBL.ttf");
}

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}
/* width */
body::-webkit-scrollbar {
    width: 12px;
    background-color: black;
}

/* Track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: black;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #876727f7;
}

/* Handle on hover */
/* body::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

ul li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    background-color: #ccaa6b !important;
    width: 25vw;
}

@media (max-width: 1400px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 30vw;
    }
}
@media (max-width: 1300px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 35vw;
    }
}

@media (max-width: 1200px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 45vw;
    }
}

@media (max-width: 800px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 50vw;
    }
}
@media (max-width: 700px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 55vw;
    }
}
@media (max-width: 600px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 65vw;
    }
}
@media (max-width: 500px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 80vw;
    }
}
@media (max-width: 400px) {
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
        width: 90vw;
    }
}
